# Ignorar archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd
/env/

# Ignorar archivos y directorios generados por Pytest
.__pycache__/
.pytest_cache/
.coverage
.cache
.mypy_cache/
.hypothesis/